p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;

}
input{ 

    background-color:lightpink;


}
input::after{
    background-color: aquamarine    ;
}
.hero{
    text-align: center;
    position: center;
    font-size: 77px;
}
h1{
    font-size: 40px;
}

#myName{
    font-size: 70px;
}
.excited{
    color: red;
}