p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
}
input{ 
    background-color:lightpink;
}
input::after{
    background-color: aquamarine    ;
}
.hero{
    text-align: center;
    position: center;
    font-size: 77px;
}
.starhero{

justify-content: space-between;
flex-direction: row;
display: flex;
}
h1{
    font-size: 40px;
}

#myName{
    font-size: 70px;
    text-align: center;

}
.excited{
    color: red;
    text-align: center;
    font-size: 25px;
}
body,main{
    margin: 0;
    width: 100%;
    background-image: url("/images/brickwall.jpeg");
}

.introduction{
padding-left: 80px;
text-decoration: underline red;
}

.title-b{
    padding-left: 80px;
    text-decoration: underline red;
}

.about-me{
    display: flex;
    flex-wrap: wrap;
    width: 60em;
}

.skate-bio{
    justify-self: flex-end
}

.about-me{
    display: flex;
    flex-direction: row;
    padding: 5px 0px 8px 12px;
}

.frisco{
    display: flex;
    padding-left: 20px;

}
.fly{
    padding-left: 10px;
}
figure img{
    box-shadow: 12px 8px rgb(32, 180, 180, .5);
    border-radius: 12px 0 12px 0;
    size: 612px x 408px;
}
.frisco{
    height: 402px;
    width: 612px;
margin-left: 45%;
}


